* { margin: 0; padding: 0; box-sizing: border-box; }
html {
  background-color:  #404040;
  background-size: cover; 
  background-attachment: fixed;
}

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}